<h1>Bucha Bar</h1>

<h2>Most Recent Creations:</h2>
<% @recent.each do |kombucha| %>
  <li><%= kombucha.name%></li>
<% end %>





<h2>Most Reviews:</h2>
<% @most_review.each do |kombucha| %>
  <p> <%= kombucha.name  %></p>
  <p> <%= kombucha.cost %></p>
  <p> <%= kombucha.origin %></p>
<% end %>
