
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-image: url("https://image.freepik.com/free-vector/green-polygonal-background-design_1009-22.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
