<% if @review.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
